<div class="">
    <div>
        <div class="form-body">
            <div class="row">
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                            <div class="position-relative pb-5">
                                <h3 class="text-center position-relative">Clerk Load Data <a class="position-absolute end-0" href="/add-data"><button class="btn btn-success">Add</button></a></h3>
                            </div>
                            <div id="mealkit">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Included</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Price</th>
                                            <th>Cooking Time</th>
                                            <th>Servings</th>
                                            <th>Calories Per Serving</th>
                                            <th>Top Meal</th>
                                            {{!-- <th>Date</th> --}}
                                            <th>Action</th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        {{#each allData}}
                                        <tr>
                                            <td>{{#if this.imageUrl}} <img class="img-fluid" style="width: 100px; max-height: 100px" src="{{this.imageUrl}}" alt=""/>{{/if}}</td>
                                            <td>{{#if this.title}} {{this.title}}{{/if}}</td>
                                            <td>{{#if this.includes}} {{this.includes}}{{/if}}</td>
                                            <td>{{#if this.description}} {{this.description}}{{/if}}</td>
                                            <td>{{#if this.category}} {{this.category}}{{/if}}</td>
                                            <td>{{#if this.price}} {{this.price}}{{/if}}</td>
                                            <td>{{#if this.cookingTime}} {{this.cookingTime}}{{/if}}</td>
                                            <td>{{#if this.servings}} {{this.servings}}{{/if}}</td>
                                            <td>{{#if this.caloriesPerServing}} {{this.caloriesPerServing}}{{/if}}</td>
                                            <td>{{#if this.topMeal}} Yes {{else}} No{{/if}}</td>
                                            {{!-- <td>{{#if this.date}} {{this.date}}{{/if}}</td> --}}
                                            <td>
                                                <div class="d-flex">
                                                   <a href="/update-data/{{this._id}}"> <button class="btn btn-primary me-2">Update</button></a>
                                                    <button class="delete btn btn-danger" onclick="deleteMealkit(event)" data-key="{{this._id}}">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    
                                </table>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>