<div class="card">
    <a href="mealkit-detail/{{this._id}}" style="color: unset;">
    <img class="card-img-top img-fluid" src="{{this.imageUrl}}" alt="{{this.title}}">
    <div class="card-body">
        <h3 class="card-title ellipsis-1">{{this.title}}</h3>
        <p class="card-text ellipsis-1">{{this.includes}}
        </p>
    </div>
    </a>
    <div class="d-flex justify-content-end pb-4 pe-4">
        <div class="btn btn-primary" onclick="addToCart(event)" data-key={{this._id}}>Order for {{this.price}}</div>
    </div>
</div>